<div class="section timeline">

  <div class="timeline-item">
    <div class="timeline-left">
      <div class="timeline-icon"></div>
    </div>

    <div class="timeline-content">
      on roadmap
      <div class="changes-entry">
        <ul>
          <li><span class="tag-added">add</span> Puppy</li>
          <li><span class="tag-added">add</span> Local Pub - Free Trade Inn, Newcastle</li>
          <li><span class="tag-fixed">remove</span> Lockdown</li>
          <li><span class="tag-deprecated">depricate</span> Social Distancing</li>
          <li><span class="tag-deprecated">depricate</span> Face Masks</li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="timeline-item">
    <div class="timeline-left">
      <div class="timeline-icon"></div>
    </div>
    <div class="timeline-content">
      <h4>20.10 Rollicking Ranger</h4>
      <small>released on 2020-04-01</small>
      <div class="changes-entry">
        <ul>
          <li><span class="tag-security">security</span> Face Masks</li>
          <li><span class="tag-security">security</span> Lockdown 2.0</li>
          <li><span class="tag-added">added</span> Role as Sustrans Volunteer Ranger</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-left">
      <div class="timeline-icon"></div>
    </div>
    <div class="timeline-content">
      <h4>20.04 Canny Captive</h4>
      <small>released on 2020-04-01</small>
      <div class="changes-entry">
        <ul>
          <li><span class="tag-security">security</span> Social Distancing</li>
          <li><span class="tag-security">security</span> Lockdown</li>
          <li><span class="tag-added">added</span> Role as NHS Volunteer Responder</li>
          <li><span class="tag-added">added</span> Role as Red Cross Reserve Volunteer</li>
          <li><span class="tag-added">added</span> Remote Working</li>
          <li><span class="tag-added">added</span> Gardening & DIY</li>
          <li><span class="tag-deprecated">depricated</span> Local Pub</li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="timeline-item">
    <div class="timeline-left">
      <div class="timeline-icon"></div>
    </div>
    <div class="timeline-content">
      <h4>19.10 (LTS) Lucky Landlord</h4>
      <small>released on 2019-10-01</small>
      <div class="changes-entry">
        <ul>
          <li><span class="tag-added">added</span> House</li>
          <li><span class="tag-added">added</span> Garden</li>
          <li><span class="tag-changed">changed</span> Relocated to Gateshead</li>
          <li><span class="tag-deprecated">Technical Debt</span> Mortgage</li>
          <li><span class="tag-security">security</span> Insurance</li>
          <li><span class="tag-fixed">removed</span> EU Citizenship</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-left">
      <div class="timeline-icon"></div>
    </div>
    <div class="timeline-content">
      <h4>18.04 Doting Dogminder</h4>
      <small>released on 2018-04-01</small>
      <div class="changes-entry">
        <ul>
          <li><span class="tag-added">added</span> Teemo the West Highland Terrier</li>
          <li><span class="tag-added">added</span> Role as FoodCycle Surplus Food Volunteer</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-left">
      <div class="timeline-icon"></div>
    </div>
    <div class="timeline-content">
      <h4>17.04 Plucky Pedaller</h4>
      <small>released on 2017-04-01</small>
      <div class="changes-entry">
        <ul>
          <li><span class="tag-performance">performance</span> Cycling for commuting and leisure</li>
          <li><span class="tag-removed">wont fix</span> Driving Licence</li>
        </ul>
      </div>
    </div>
  </div>

<div class="timeline-item">
    <div class="timeline-left">
      <div class="timeline-icon"></div>
    </div>
    <div class="timeline-content">
      <h4>15.10 (LTS) Happy Husband</h4>
      <small>released on 2015-10-01</small>
      <div class="changes-entry">
        <ul>
          <li><span class="tag-added">added</span> Wife</li>
          <li><span class="tag-added">added</span> Savings Account</li>
          <li><span class="tag-deprecated">Depricated</span> Fiancée</li>
          <li><span class="tag-fixed">removed</span> Housemates</li>

        </ul>
      </div>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-left">
      <div class="timeline-icon"></div>
    </div>
    <div class="timeline-content">
      <h4>14.04 Fervent Fiancé</h4>
      <small>released on 2014-04-01</small>
      <div class="changes-entry">
        <ul>
          <li><span class="tag-added">added</span> Fiancée</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-left">
      <div class="timeline-icon"></div>
    </div>
    <div class="timeline-content">
      <h4>12.10 (LTS) Gleeful Geordie</h4>
      <small>released on 2012-10-01</small>
      <div class="changes-entry">
        <ul>
          <li><span class="tag-changed">changed</span> Job - Software Developer at Datatrial</li>
          <li><span class="tag-changed">changed</span> Relocated to Newcastle</li>
          <li><span class="tag-added">added</span> Local Pub - Free Trade Inn, Newcastle</li>
          <li><span class="tag-added">added</span> Housemates</li>
          <li><span class="tag-security">security</span> Pension  </li>
          <li><span class="tag-deprecated">depricated</span> Remote Working</li>

        </ul>
      </div>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-left">
      <div class="timeline-icon"></div>
    </div>
    <div class="timeline-content">
      <h4>9.04 Intrepid Immigrant</h4>
      <small>released on 2009-04-01</small>
      <div class="changes-entry">
        <ul>
          <li><span class="tag-added">added</span> Remote working</li>
          <li><span class="tag-changed">changed</span> Relocated to Malta</li>
          <li><span class="tag-changed">changed</span> Job - Software Developer at Brulines Ltd</li>
          <li><span class="tag-deprecated">depricated</span> Local Pub</li>
          <li><span class="tag-fixed">removed</span> Most possesions</li>
          <li><span class="tag-fixed">removed</span> Housemates</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-left">
      <div class="timeline-icon"></div>
    </div>
    <div class="timeline-content">
      <h4>7.10 (LTS) Greenhorn Graduate</h4>
      <small>released on 2007-10-01</small>
      <div class="changes-entry">
        <ul>
          <li><span class="tag-added">added</span> BSc (Hons) Software Engineering</li>
          <li><span class="tag-changed">changed</span> Job - Graduate Developer at Brulines Ltd</li>
          <li><span class="tag-changed">changed</span> Relocated to Darlington</li>
          <li><span class="tag-changed">changed</span> Local Pub - Number Twenty2, Darlington</li>
          <li><span class="tag-deprecated">technical debt</span> Student Loan</li>
          <li><span class="tag-deprecated">depricated</span> Skydiving AFF Licence</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-left">
      <div class="timeline-icon"></div>
    </div>
    <div class="timeline-content">
      <h4>5.10 Feeble Freefaller</h4>
      <small>released on 2005-10-01</small>
      <div class="changes-entry">
        <ul>
          <li><span class="tag-added">added</span> Skydiving AFF Licence</li>
          <li><span class="tag-changed">changed</span> Local Pub - The Linthorpe, Middlesbrough</li>
          <li><span class="tag-changed">changed</span> Job - Student Placement at Brulines Ltd</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-left">
      <div class="timeline-icon"></div>
    </div>
    <div class="timeline-content">
      <h4>3.10 Slothful Student</h4>
      <small>released on 2003-10-01</small>
      <div class="changes-entry">
        <ul>
          <li><span class="tag-added">added</span> University Place</li>
          <li><span class="tag-added">added</span> A-Levels</li>
          <li><span class="tag-added">added</span> Housemates</li>
          <li><span class="tag-added">added</span> Local Pub - The Southfield, Middlesbrough</li>
          <li><span class="tag-changed">changed</span> Relocated to Middlesbrough</li>
          <li><span class="tag-changed">changed</span> Job - IT Assistant at Teesside University</li>
          <li><span class="tag-fixed">fixed</span> Living with parents</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-left">
      <div class="timeline-icon"></div>
    </div>
    <div class="timeline-content">
      <h4>1.10 (RC1) Affable Adolescent</h4>
      <small>released on 2001-10-01</small>
      <div class="changes-entry">
        <ul>
          <li><span class="tag-added">added</span> 6th Form Place</li>
          <li><span class="tag-added">added</span> GCSEs</li>
          <li><span class="tag-added">added</span> Job - Student Technician at Bondgate IT</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-left">
      <div class="timeline-icon"></div>
    </div>
    <div class="timeline-content">
      <h4>(beta) Jesting Juvenile</h4>
      <small>released on 1995-04-01</small>
      <div class="changes-entry">
        <ul>
          <li><span class="tag-performance">performance</span> Cognative & motor function</li>
          <li><span class="tag-added">added</span> Education</li>
          <li><span class="tag-added">added</span> Love for Leeds United</li>
          <li><span class="tag-changed">changed</span> Relocated to Darlington</li>
          <li><span class="tag-fixed">fixed</span> Most of the crying</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="timeline-item first">
    <div class="timeline-left">
      <div class="timeline-icon"></div>
    </div>
    <div class="timeline-content">
      <h4>(alpha) Needy Newborn</h4>
      <small>released on 1985-10-01</small>
      <div class="changes-entry">
        <ul>
          <li><span class="tag-added">added</span> Breathing, basic functionality</li>
          <li><span class="tag-added">added</span> Located in Rotherham</li>
        </ul>
      </div>
    </div>
  </div>
</div>